html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: white;
}

button {
  font-size: 15px;
  font-weight: 600;
  padding: 10px ;
  border-radius: 7px;
  border: 0;
  cursor: pointer;
  transition: .4s;
}

button:hover{
  background-color: rgb(149, 199, 255);
}